.blankBoard {
  padding: 4rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.blankBoard div {
  display: grid;
  place-items: center;
}

.blankBoard div p {
  display: grid;
  line-height: 1.4;
  margin-top: 1rem;
  place-items: center;
}
