.task {
  background: var(--gray-500);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.task + .task {
  margin-top: 0.75rem;
}

.taskBox {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.taskBox span {
  font-size: 0.875rem;
  line-height: 1.4;
}

.taskBox button {
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.notDoneButton {
  color: var(--blue);
}

.notDoneButton:hover {
  color: var(--blue-dark);
}

.notDoneDescription {
  color: var(--gray-100);
}

.doneButton {
  color: var(--purple-dark);
}

.doneButton:hover {
  color: var(--purple);
}

.doneDescription {
  text-decoration: line-through;
  color: var(--gray-300);
}

.taskRemoveButton {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.taskRemoveButton:hover {
  color: var(--danger);
}